# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo



# dir 不需要提交的目录
/node_modules
/newtab
/.vscode
​
# file 不需要提交的文件
#config.ini
​
# log 不需要提交的任意包含后缀名为log的文件
#*.log
​
# Package Files 不需要提交的任意包含后缀名为jar的文件
#*.jar